* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #facc15;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.hello {
  color: #facc15;
}

.hero h1 {
  font-size: 48px;
}

.hero span {
  color: #facc15;
}

.buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

.primary {
  background: #facc15;
  color: black;
}

.outline {
  border: 1px solid #facc15;
  color: #facc15;
}

.section {
  max-width: 1000px;
  margin: auto;
  padding: 80px 20px;
}

.dark-box {
  background: #111;
  border-radius: 15px;
}

.skills span {
  display: inline-block;
  background: #222;
  padding: 8px 15px;
  margin: 8px;
  border-radius: 20px;
  color: #facc15;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3,
.project-card p,
.project-card span {
  padding: 10px 15px;
}

.project-card span {
  color: #facc15;
}

.contact {
  text-align: center;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.contact-card {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-8px);
}

.contact-card i {
  font-size: 28px;
  color: #facc15;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: gray;
}
